body {
font-family: monospace;
background-color: rgb(82, 140, 167);
color: azure;
font-size: x-large;
}


.square {
width: 300px;
height: 300px;
margin: 20px;
background-color: rgb(192, 13, 13);
box-sizing:border-box;
padding: 20px;
}

a {
    text-decoration: none;
    font-size: 60px;
}

a:link {
color: rgba(251, 255, 35, 0.808);
}
a:visited {
color: tomato;
}

a:hover {
    color: royalblue;
}

a:active {
    color: lime;
}



.square2 {
width: 300px;
height: 200px;
background-color: rgb(236, 20, 20);
transition: .5s;
}

.square2:hover {
width: 500px;
height: 350px;
background-color: rgb(16, 230, 26);
}