body {
font-family: monospace;
background-color: rgb(82, 140, 167);
color: azure;
font-size: x-large;
}

h3 {
text-transform: uppercase;
}

div {
width: 300px; /* DRY */
height: 300px;
box-sizing:border-box;
} 

.content {
    background-color: rgb(190, 23, 23);
    border: 15px solid white;
    margin: 30px;
}
/*  -Remember to set box-sizing: border-box;
    -Marginesy z boków sie dodają 30+30
    -Margines w kolumnie jest wybierany wiekszy z 2 elementów. */
.border {
    background-color: rgb(6, 96, 180);
    border: 15px solid royalblue;
    margin: 30px;
}

.square {
    background-color: rgb(113, 206, 26);
    border: 15px solid tomato;
    margin: 30px;
}

.hideSquare {
background-color: rgb(100, 62, 143);
margin: 30px;
border: 20px solid orange;
/* overflow: auto;  */
/* overflow: hidden; */
}